In [82]:
#importing library
import pandas as pd
import numpy as np

In [2]:
#reading the files
all_oscars = pd.read_excel('data/the_oscar_award_kaggle.xlsx')
pictures_combined3 = pd.read_csv('data/pictures_combined3.csv')

In [3]:
all_oscars['film']=all_oscars['film'].str.upper()
all_oscars['film']=all_oscars['film'].str.strip()

all_oscars['name']=all_oscars['name'].str.strip()

In [5]:
all_oscars.name.loc[all_oscars.name.str.contains('Alejandro')]

8714                        Alejandro GonzÃ¡lez IÃ±Ã¡rritu
8751     Alejandro GonzÃ¡lez IÃ±Ã¡rritu, Jon Kilik and ...
9675                               Alejandro G. IÃ±Ã¡rritu
9714     Alejandro G. IÃ±Ã¡rritu, John Lesher and James...
9756     Written by Alejandro G. IÃ±Ã¡rritu, NicolÃ¡s G...
9802                               Alejandro G. IÃ±Ã¡rritu
9843     Arnon Milchan, Steve Golin, Alejandro G. IÃ±Ã¡...
10137    Alejandro G. IÃ±Ã¡rritu's CARNE y ARENA virtua...
Name: name, dtype: object

In [6]:
# renaming two directors

pictures_combined3['Director'] = pictures_combined3['Director'].str.replace('NoÃ«l Coward','Noël Coward')
pictures_combined3['Director'] = pictures_combined3['Director'].str.replace('Noí«l Coward','Noël Coward')
pictures_combined3['Director'] = pictures_combined3['Director'].str.replace('Alejandro G. IÃ±Ã¡rritu','Alejandro G. Iñárritu')
pictures_combined3['Director'] = pictures_combined3['Director'].str.replace('Alejandro GonzÃ¡lez IÃ±Ã¡rritu','Alejandro G. Iñárritu')
pictures_combined3['Director'] = pictures_combined3['Director'].str.replace('Alejandro G. IÃ±Ã¡rritu','Alejandro G. Iñárritu')


all_oscars['name'] = all_oscars['name'].str.replace('NoÃ«l Coward','Noël Coward')
all_oscars['Director'] = all_oscars['name'].str.replace('Noí«l Coward','Noël Coward')
all_oscars['Director'] = all_oscars['name'].str.replace('Alejandro G. IÃ±Ã¡rritu','Alejandro G. Iñárritu')
all_oscars['name'] = all_oscars['name'].str.replace('Alejandro GonzÃ¡lez IÃ±Ã¡rritu','Alejandro G. Iñárritu')
all_oscars['name'] = all_oscars['name'].str.replace('Alejandro G. IÃ±Ã¡rritu','Alejandro G. Iñárritu')

In [7]:
#counting number of nominations for each film
all_oscars1 = all_oscars[['film','category','ceremony']]
all_oscars1 = all_oscars1.dropna()
all_oscars1['count_of_film_nominations'] = 1
all_oscars1['film']=all_oscars1['film'].str.upper()
all_oscars1['film']=all_oscars1['film'].str.strip()
oscars1 = all_oscars1.groupby(['film','ceremony'])['count_of_film_nominations'].sum()
oscars1 = oscars1.reset_index()
oscars1 = oscars1.sort_values('count_of_film_nominations',ascending = False)

In [8]:
# merging count of nominations with the main dataframe.
pictures_combined3 = pd.merge(pictures_combined3,oscars1,
                             how='left',
                             on=['film','ceremony'])

In [9]:
#checking if everything was merged properly
pictures_combined3.isna().sum()

year_film                      0
year_ceremony                  0
ceremony                       0
category                       0
name                           0
film                           0
winner                         0
imdb_title_id                  0
title                          6
year                           6
genre                          0
duration                       0
country                        6
language                       6
writer                         6
production_company             6
actors                         6
description                    6
first_director                 0
second_director              518
Director                       0
director_id                    0
Dir_Cum_Films                  0
Producer                       0
count_of_film_nominations      7
dtype: int64

In [10]:
#checking if everything was merged properly
pictures_combined3.loc[pictures_combined3.count_of_film_nominations.isna()]

#7 movies were not successful. adding them manually:
pictures_combined3.at[92,'count_of_film_nominations'] = 9
pictures_combined3.at[100,'count_of_film_nominations'] = 3
pictures_combined3.at[263,'count_of_film_nominations'] = 4
pictures_combined3.at[267,'count_of_film_nominations'] = 7
pictures_combined3.at[421,'count_of_film_nominations'] = 10
pictures_combined3.at[448,'count_of_film_nominations'] = 6
pictures_combined3.at[545,'count_of_film_nominations'] = 7

In [11]:
pictures_combined3.isna().sum()

year_film                      0
year_ceremony                  0
ceremony                       0
category                       0
name                           0
film                           0
winner                         0
imdb_title_id                  0
title                          6
year                           6
genre                          0
duration                       0
country                        6
language                       6
writer                         6
production_company             6
actors                         6
description                    6
first_director                 0
second_director              518
Director                       0
director_id                    0
Dir_Cum_Films                  0
Producer                       0
count_of_film_nominations      0
dtype: int64

In [12]:
pictures_combined3 = pictures_combined3.drop(columns=['second_director','title'])
pictures_combined3

,year_film,year_ceremony,ceremony,category,name,film,winner,imdb_title_id,year,genre,...,writer,production_company,actors,description,first_director,Director,director_id,Dir_Cum_Films,Producer,count_of_film_nominations
0,1928,1928,1,OUTSTANDING PICTURE,The Caddo Company,THE RACKET,False,tt0019304,1928.0,"Crime, Drama, Film-Noir",...,"Bartlett Cormack, Bartlett Cormack",The Caddo Company,"Thomas Meighan, Louis Wolheim, Marie Prevost, ...",An honest police captain vows to bring down a ...,Lewis Milestone,Lewis Milestone,nm0587277,13,No,1.0
1,1927,1928,1,OUTSTANDING PICTURE,Fox,7TH HEAVEN,False,tt0018379,1927.0,"Drama, Romance",...,"Austin Strong, Benjamin Glazer",Frank Borzage Production,"Janet Gaynor, Charles Farrell, Albert Gran, Da...","A street cleaner saves a young woman's life, a...",Frank Borzage,Frank Borzage,nm0097648,58,No,5.0
2,1927,1928,1,OUTSTANDING PICTURE,Paramount Famous Lasky,WINGS,True,tt0018578,1927.0,"Drama, Romance, War",...,"John Monk Saunders, Hope Loring",Paramount Famous Lasky Corporation,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl...","Two young men, one rich, one middle class, who...",William A. Wellman,William A. Wellman,nm0920074,12,No,2.0
3,1929,1929,2,OUTSTANDING PICTURE,Feature Productions,ALIBI,False,tt0019630,1929.0,Crime,...,"Roland West, C. Gardner Sullivan",Feature Productions,"Chester Morris, Harry Stubbs, Mae Busch, Elean...","Chick Williams, a prohibition gangster, rejoin...",Roland West,Roland West,nm0922327,12,Yes,3.0
4,1928,1929,2,OUTSTANDING PICTURE,Fox,IN OLD ARIZONA,False,tt0020018,1928.0,"Romance, Western",...,"O. Henry, Tom Barry",Fox Film Corporation,"Warner Baxter, Edmund Lowe, Dorothy Burgess","A charming, happy-go-lucky bandit in old Arizo...",Irving Cummings,Irving Cummings,nm0191899,41,No,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,2019,2020,92,BEST PICTURE,"Amy Pascal, Producer",LITTLE WOMEN,False,tt3281548,2019.0,"Drama,Romance",...,"Louisa May Alcott, Clare Niederpruem",Main Dog Productions,"'Saoirse Ronan', 'Emma Watson', 'Florence Pugh...",A modern retelling of Louisa May Alcott's clas...,Greta Gerwig,Greta Gerwig,nm1950086,3,No,6.0
559,2019,2020,92,BEST PICTURE,"Noah Baumbach and David Heyman, Producers",MARRIAGE STORY,False,tt7653254,2019.0,"Comedy, Drama, Romance",...,Noah Baumbach,Heyday Films,"Scarlett Johansson, Merritt Wever, Adam Driver...",Noah Baumbach's incisive and compassionate loo...,Noah Baumbach,Noah Baumbach,nm0000876,13,Yes,6.0
560,2019,2020,92,BEST PICTURE,"Sam Mendes, Pippa Harris, Jayne-Ann Tenggren a...",1917;,False,tt8579674,NaN,"Drama, War",...,NaN,NaN,NaN,NaN,Sam Mendes,Sam Mendes,nm0005222,12,Yes,10.0
561,2019,2020,92,BEST PICTURE,"David Heyman, Shannon McIntosh and Quentin Tar...",ONCE UPON A TIME… IN HOLLYWOOD,False,tt7131622,NaN,"Comedy,Drama",...,NaN,NaN,NaN,NaN,Quentin Tarantino,Quentin Tarantino,nm0000233,20,Yes,1.0
562,2019,2020,92,BEST PICTURE,"Kwak Sin Ae and Bong Joon Ho, Producers",PARASITE,True,tt6751668,NaN,"Comedy,Drama, Thriller",...,NaN,NaN,NaN,NaN,Bong Joon Ho,Bong Joon Ho,nm0094435,14,Yes,6.0

# 1 Adding the Directors Previous Nominations and Wins

In [13]:
# Adding the 'nominated for best director' feature:
all_oscars.category.unique()
best_directing_cat=all_oscars.loc[all_oscars.category.str.contains('DIRECTING')]

In [14]:
best_directing_cat['nominated_for_best_director']= 1

<ipython-input-14-b3383752f4dc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best_directing_cat['nominated_for_best_director']= 1

In [15]:
best_directing_cat = best_directing_cat[['ceremony','film','name','nominated_for_best_director','winner']]

In [16]:
best_directing_cat = best_directing_cat.rename(columns={'winner':'best_directing_win'})

In [17]:
pictures_combined3 = pictures_combined3.drop(columns=['name'])

In [18]:
pictures_combined3 = pd.merge(pictures_combined3,best_directing_cat,
                             how='left',
                             on=['film','ceremony'])


pictures_combined3.nominated_for_best_director = pictures_combined3.nominated_for_best_director.fillna(0) 


pictures_combined3[['Dir_Cum_Films','count_of_film_nominations','nominated_for_best_director']]=pictures_combined3[['Dir_Cum_Films','count_of_film_nominations','nominated_for_best_director']].astype(int)

In [19]:
pictures_combined3.columns

Index(['year_film', 'year_ceremony', 'ceremony', 'category', 'film', 'winner',
       'imdb_title_id', 'year', 'genre', 'duration', 'country', 'language',
       'writer', 'production_company', 'actors', 'description',
       'first_director', 'Director', 'director_id', 'Dir_Cum_Films',
       'Producer', 'count_of_film_nominations', 'name',
       'nominated_for_best_director', 'best_directing_win'],
      dtype='object')

### Creating an empty dataframe to add a list of all directors and all years combined

In [20]:
ceremonies=all_oscars.ceremony.tolist()
ceremonies = set(ceremonies)
ceremonies1 = list(ceremonies)


directors = best_directing_cat.name.tolist()
directors=set(directors)
directors =list(directors)


bestpic_directors = pictures_combined3.Director.tolist()
bestpic_directors = set(bestpic_directors)
bestpic_directors = list(bestpic_directors)


all_directors = directors+bestpic_directors
all_directors=set(all_directors)
all_directors = list(all_directors)

In [21]:
from itertools import product

df_directors  = pd.DataFrame(list(product(ceremonies, all_directors)), columns=['ceremony', 'director'])

In [22]:
df_directors

       ceremony           director
0             1        Alan Parker
1             1  Francois Truffaut
2             1         Carol Reed
3             1       Delbert Mann
4             1         Peter Weir
...         ...                ...
30907        92        Hugh Hudson
30908        92         Ron Howard
30909        92        Ben Affleck
30910        92   Barbet Schroeder
30911        92         Gene Kelly

[30912 rows x 2 columns]

In [23]:
# splitting first and second director
df_directors[['first_dir','second_dir']] = df_directors.director.str.split(',', expand = True)
#getting rid of unecessary columns
df_directors = df_directors.drop(columns=['director','second_dir'])
df_directors

       ceremony          first_dir
0             1        Alan Parker
1             1  Francois Truffaut
2             1         Carol Reed
3             1       Delbert Mann
4             1         Peter Weir
...         ...                ...
30907        92        Hugh Hudson
30908        92         Ron Howard
30909        92        Ben Affleck
30910        92   Barbet Schroeder
30911        92         Gene Kelly

[30912 rows x 2 columns]

In [24]:
# adding best directing nominations

df_directors1 = pd.merge(df_directors,best_directing_cat,
                        how='left',
                        left_on=['first_dir','ceremony'],
                        right_on=['name','ceremony'])

In [25]:
df_directors1

,ceremony,first_dir,film,name,nominated_for_best_director,best_directing_win
0,1,Alan Parker,NaN,NaN,NaN,NaN
1,1,Francois Truffaut,NaN,NaN,NaN,NaN
2,1,Carol Reed,NaN,NaN,NaN,NaN
3,1,Delbert Mann,NaN,NaN,NaN,NaN
4,1,Peter Weir,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
30910,92,Hugh Hudson,NaN,NaN,NaN,NaN
30911,92,Ron Howard,NaN,NaN,NaN,NaN
30912,92,Ben Affleck,NaN,NaN,NaN,NaN
30913,92,Barbet Schroeder,NaN,NaN,NaN,NaN
30914,92,Gene Kelly,NaN,NaN,NaN,NaN

In [26]:
df_directors1 = df_directors1.rename(columns={'winner':'best_directing_win'})
df_directors1.best_directing_win = df_directors1.best_directing_win.replace({True:1,False:0})

In [27]:
df_directors1 = df_directors1.drop(columns=['name'])

In [28]:
#dropping duplicates and unecessary columns

df_directors1  = df_directors1.drop_duplicates(subset=['ceremony', 'first_dir'], keep='first')

In [29]:
# replacing NaN values with 0
df_directors1=df_directors1.fillna(0)

In [30]:
# Calculating cumulative sums for nominations and wins of directors

In [31]:
noms = df_directors1.copy()

In [32]:
noms1 = noms.set_index(['first_dir','ceremony'])
noms2 = noms1.groupby(level=[0]).cumsum()
noms2 =noms2.reset_index()

In [33]:
noms2 = noms2.rename(columns={'nominated_for_best_director':"best_directing_nomination_sum",
                             'best_directing_win':'best_directing_win_sum'})

In [34]:
noms3 = noms2.sort_values(by=['first_dir','ceremony'])

In [35]:
noms3 = noms3.set_index(['first_dir','ceremony'])

In [36]:
noms4 = noms3.groupby(level=[0]).diff()
noms4 = noms4.reset_index()
noms4 = noms4.fillna(0)

In [37]:
#merging sum of nominations/wins with the difference in order to get prior nominations and wins

directors_final_list = pd.merge(noms2, noms4,
                               how='left',
                               on=['first_dir','ceremony'])

In [38]:
directors_final_list['prior_best_directing_nominations'] = (directors_final_list['best_directing_nomination_sum_x']
                                                            -directors_final_list['best_directing_nomination_sum_y'])
                                                            
                                                            
directors_final_list['prior_best_directing_wins'] = (directors_final_list['best_directing_win_sum_x']
                                                            -directors_final_list['best_directing_win_sum_y'])

In [39]:
directors_final_list=directors_final_list.rename(columns={'best_directing_nomination_sum_x':'best_directing_nomination_sum',
                                                         'best_directing_win_sum_x':'best_directing_win_sum'})


directors_final_list = directors_final_list.drop(columns=['best_directing_nomination_sum_y','best_directing_win_sum_y'])

In [40]:
#merging directors wiht the best picture dataset

pictures_combined3 = pd.merge(pictures_combined3,directors_final_list,
                             how='left',
                             left_on=['Director','ceremony'],
                             right_on=['first_dir','ceremony'])

In [41]:
pictures_combined3

,year_film,year_ceremony,ceremony,category,film,winner,imdb_title_id,year,genre,duration,...,Producer,count_of_film_nominations,name,nominated_for_best_director,best_directing_win,first_dir,best_directing_nomination_sum,best_directing_win_sum,prior_best_directing_nominations,prior_best_directing_wins
0,1928,1928,1,OUTSTANDING PICTURE,THE RACKET,False,tt0019304,1928.0,"Crime, Drama, Film-Noir",84,...,No,1,NaN,0,NaN,Lewis Milestone,1.0,1.0,1.0,1.0
1,1927,1928,1,OUTSTANDING PICTURE,7TH HEAVEN,False,tt0018379,1927.0,"Drama, Romance",110,...,No,5,Frank Borzage,1,True,Frank Borzage,1.0,1.0,1.0,1.0
2,1927,1928,1,OUTSTANDING PICTURE,WINGS,True,tt0018578,1927.0,"Drama, Romance, War",144,...,No,2,NaN,0,NaN,William A. Wellman,0.0,0.0,0.0,0.0
3,1929,1929,2,OUTSTANDING PICTURE,ALIBI,False,tt0019630,1929.0,Crime,91,...,Yes,3,NaN,0,NaN,Roland West,0.0,0.0,0.0,0.0
4,1928,1929,2,OUTSTANDING PICTURE,IN OLD ARIZONA,False,tt0020018,1928.0,"Romance, Western",95,...,No,4,Irving Cummings,1,False,Irving Cummings,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,2019,2020,92,BEST PICTURE,LITTLE WOMEN,False,tt3281548,2019.0,"Drama,Romance",135,...,No,6,NaN,0,NaN,Greta Gerwig,1.0,0.0,1.0,0.0
559,2019,2020,92,BEST PICTURE,MARRIAGE STORY,False,tt7653254,2019.0,"Comedy, Drama, Romance",136,...,Yes,6,NaN,0,NaN,Noah Baumbach,0.0,0.0,0.0,0.0
560,2019,2020,92,BEST PICTURE,1917;,False,tt8579674,NaN,"Drama, War",119,...,Yes,10,Sam Mendes,1,False,Sam Mendes,2.0,1.0,1.0,1.0
561,2019,2020,92,BEST PICTURE,ONCE UPON A TIME… IN HOLLYWOOD,False,tt7131622,NaN,"Comedy,Drama",161,...,Yes,1,NaN,0,NaN,Quentin Tarantino,3.0,0.0,2.0,0.0
562,2019,2020,92,BEST PICTURE,PARASITE,True,tt6751668,NaN,"Comedy,Drama, Thriller",132,...,Yes,6,Bong Joon Ho,1,True,Bong Joon Ho,1.0,1.0,0.0,0.0

In [43]:
#adding a category to calculate the number of films the director had nominated for 'best picture' category

In [44]:
total_best_pic = pictures_combined3[['Director','ceremony']]
total_best_pic['moviez'] = 1
total_best_pic = total_best_pic.sort_values(['Director','ceremony'])

<ipython-input-44-cfe924185bf5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_best_pic['moviez'] = 1

In [45]:
total_best_pic = total_best_pic.groupby(['Director','ceremony'])['moviez'].count().reset_index()
total_best_pic1 = total_best_pic.set_index(['Director','ceremony'])
total_best_pic1=total_best_pic1.groupby(level=[0]).cumsum()
total_best_pic1=total_best_pic1.reset_index()
total_best_pic1 = total_best_pic1.rename(columns={'moviez':'running_best_picture_nomination'})

In [46]:
pictures_combined4 = pd.merge(pictures_combined3,total_best_pic1,
                             how='left',
                             on=['Director','ceremony']
                             )

In [47]:
pictures_combined4.columns

Index(['year_film', 'year_ceremony', 'ceremony', 'category', 'film', 'winner',
       'imdb_title_id', 'year', 'genre', 'duration', 'country', 'language',
       'writer', 'production_company', 'actors', 'description',
       'first_director', 'Director', 'director_id', 'Dir_Cum_Films',
       'Producer', 'count_of_film_nominations', 'name',
       'nominated_for_best_director', 'best_directing_win', 'first_dir',
       'best_directing_nomination_sum', 'best_directing_win_sum',
       'prior_best_directing_nominations', 'prior_best_directing_wins',
       'running_best_picture_nomination'],
      dtype='object')

In [49]:
pictures_combined4 = pictures_combined4.drop(columns=['name'])
pictures_combined4.best_directing_win = pictures_combined4.best_directing_win.fillna(0)

In [50]:
pictures_combined4

,year_film,year_ceremony,ceremony,category,film,winner,imdb_title_id,year,genre,duration,...,Producer,count_of_film_nominations,nominated_for_best_director,best_directing_win,first_dir,best_directing_nomination_sum,best_directing_win_sum,prior_best_directing_nominations,prior_best_directing_wins,running_best_picture_nomination
0,1928,1928,1,OUTSTANDING PICTURE,THE RACKET,False,tt0019304,1928.0,"Crime, Drama, Film-Noir",84,...,No,1,0,0,Lewis Milestone,1.0,1.0,1.0,1.0,1
1,1927,1928,1,OUTSTANDING PICTURE,7TH HEAVEN,False,tt0018379,1927.0,"Drama, Romance",110,...,No,5,1,True,Frank Borzage,1.0,1.0,1.0,1.0,1
2,1927,1928,1,OUTSTANDING PICTURE,WINGS,True,tt0018578,1927.0,"Drama, Romance, War",144,...,No,2,0,0,William A. Wellman,0.0,0.0,0.0,0.0,1
3,1929,1929,2,OUTSTANDING PICTURE,ALIBI,False,tt0019630,1929.0,Crime,91,...,Yes,3,0,0,Roland West,0.0,0.0,0.0,0.0,1
4,1928,1929,2,OUTSTANDING PICTURE,IN OLD ARIZONA,False,tt0020018,1928.0,"Romance, Western",95,...,No,4,1,False,Irving Cummings,1.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,2019,2020,92,BEST PICTURE,LITTLE WOMEN,False,tt3281548,2019.0,"Drama,Romance",135,...,No,6,0,0,Greta Gerwig,1.0,0.0,1.0,0.0,2
559,2019,2020,92,BEST PICTURE,MARRIAGE STORY,False,tt7653254,2019.0,"Comedy, Drama, Romance",136,...,Yes,6,0,0,Noah Baumbach,0.0,0.0,0.0,0.0,1
560,2019,2020,92,BEST PICTURE,1917;,False,tt8579674,NaN,"Drama, War",119,...,Yes,10,1,False,Sam Mendes,2.0,1.0,1.0,1.0,2
561,2019,2020,92,BEST PICTURE,ONCE UPON A TIME… IN HOLLYWOOD,False,tt7131622,NaN,"Comedy,Drama",161,...,Yes,1,0,0,Quentin Tarantino,3.0,0.0,2.0,0.0,4
562,2019,2020,92,BEST PICTURE,PARASITE,True,tt6751668,NaN,"Comedy,Drama, Thriller",132,...,Yes,6,1,True,Bong Joon Ho,1.0,1.0,0.0,0.0,1

In [52]:
pictures_combined4.to_csv('data/pictures_combined4.csv', index=False)

# 2  Golden Globes

In [53]:
#import previuos version of Oscars dataset. 
pictures_combined4 = pd.read_csv('data/pictures_combined4.csv')

#import dataset from Kaggle
golden_globes = pd.read_csv('data/Golden Globe awards dataset kaggle/golden_globe_awards_K.csv')

In [54]:
# renaming 1917 in oscars dataset
pictures_combined4.film = pictures_combined4.film.str.replace('1917;','1917')

#renaming category'winner' to 'Best_Pic_Winner'
pictures_combined4 = pictures_combined4.rename(columns={'winner':'Best_Pic_Winner'})


#stripping potential blank spaces
golden_globes.film = golden_globes.film.str.strip()
golden_globes.nominee = golden_globes.nominee.str.strip()

#uppercase the film titles
golden_globes.film = golden_globes.film.str.upper()

#renaming columns
golden_globes = golden_globes.rename(columns={'category':'golden_globes_cat','win':'Globes_Winner'})
golden_globes

#renaming once upon a time in hollywood (adding a space after ...)
golden_globes.film = golden_globes.film.str.replace('ONCE UPON A TIME...IN HOLLYWOOD','ONCE UPON A TIME… IN HOLLYWOOD')

## Getting the Nominees for Golden Globes Best Director Category

In [55]:
#creating a dataset with just directors

gg_directors = golden_globes.loc[golden_globes.golden_globes_cat=='Best Director - Motion Picture']
gg_directors = gg_directors.drop(columns=['year_film','ceremony','film'])
gg_directors

,year_award,golden_globes_cat,nominee,Globes_Winner
2,1944,Best Director - Motion Picture,Henry King,True
8,1945,Best Director - Motion Picture,Leo McCarey,True
14,1946,Best Director - Motion Picture,Billy Wilder,True
21,1947,Best Director - Motion Picture,Frank Capra,True
29,1948,Best Director - Motion Picture,Elia Kazan,True
...,...,...,...,...
7904,2020,Best Director - Motion Picture,Sam Mendes,True
7905,2020,Best Director - Motion Picture,Bong Joon Ho,False
7906,2020,Best Director - Motion Picture,Todd Phillips,False
7907,2020,Best Director - Motion Picture,Martin Scorsese,False
7908,2020,Best Director - Motion Picture,Quentin Tarantino,False

In [56]:
#merging gg_directors and oscars

pictures_combined5 = pd.merge(pictures_combined4, gg_directors,
                             how='left',
                             left_on=['year_ceremony','Director'],
                             right_on=['year_award','nominee'])

In [57]:
pictures_combined5 = pictures_combined5.rename(columns={'Globes_Winner':'Globes_Best_Dir_Winner'})
pictures_combined5 = pictures_combined5.drop(columns =['nominee'])

In [58]:
pictures_combined5=pictures_combined5.drop_duplicates()
pictures_combined5

,year_film,year_ceremony,ceremony,category,film,Best_Pic_Winner,imdb_title_id,year,genre,duration,...,best_directing_win,first_dir,best_directing_nomination_sum,best_directing_win_sum,prior_best_directing_nominations,prior_best_directing_wins,running_best_picture_nomination,year_award,golden_globes_cat,Globes_Best_Dir_Winner
0,1928,1928,1,OUTSTANDING PICTURE,THE RACKET,False,tt0019304,1928.0,"Crime, Drama, Film-Noir",84,...,0,Lewis Milestone,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN
1,1927,1928,1,OUTSTANDING PICTURE,7TH HEAVEN,False,tt0018379,1927.0,"Drama, Romance",110,...,True,Frank Borzage,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN
2,1927,1928,1,OUTSTANDING PICTURE,WINGS,True,tt0018578,1927.0,"Drama, Romance, War",144,...,0,William A. Wellman,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
3,1929,1929,2,OUTSTANDING PICTURE,ALIBI,False,tt0019630,1929.0,Crime,91,...,0,Roland West,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
4,1928,1929,2,OUTSTANDING PICTURE,IN OLD ARIZONA,False,tt0020018,1928.0,"Romance, Western",95,...,False,Irving Cummings,1.0,0.0,0.0,0.0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,2019,2020,92,BEST PICTURE,LITTLE WOMEN,False,tt3281548,2019.0,"Drama,Romance",135,...,0,Greta Gerwig,1.0,0.0,1.0,0.0,2,NaN,NaN,NaN
564,2019,2020,92,BEST PICTURE,MARRIAGE STORY,False,tt7653254,2019.0,"Comedy, Drama, Romance",136,...,0,Noah Baumbach,0.0,0.0,0.0,0.0,1,NaN,NaN,NaN
565,2019,2020,92,BEST PICTURE,1917,False,tt8579674,NaN,"Drama, War",119,...,False,Sam Mendes,2.0,1.0,1.0,1.0,2,2020.0,Best Director - Motion Picture,True
566,2019,2020,92,BEST PICTURE,ONCE UPON A TIME… IN HOLLYWOOD,False,tt7131622,NaN,"Comedy,Drama",161,...,0,Quentin Tarantino,3.0,0.0,2.0,0.0,4,2020.0,Best Director - Motion Picture,False
567,2019,2020,92,BEST PICTURE,PARASITE,True,tt6751668,NaN,"Comedy,Drama, Thriller",132,...,True,Bong Joon Ho,1.0,1.0,0.0,0.0,1,2020.0,Best Director - Motion Picture,False

## Adding the nominees for Golden Globes Best Picture Category (incl. drama, comedy and musical)

In [59]:
# Getting the list of films
gg_cats = ['Best Motion Picture - Drama','Best Motion Picture - Musical or Comedy','Picture','Picture - Comedy','Picture - Musical']


gg_pictures = golden_globes.loc[golden_globes.golden_globes_cat.isin(gg_cats)]

gg_pictures = gg_pictures.drop(columns=['film','year_film','ceremony'])
gg_pictures = gg_pictures.rename(columns={'Globes_Winner':'Globes_Best_Pic_Winner'})
gg_pictures.nominee =gg_pictures.nominee.str.upper()

#replacing Hollywood again
gg_pictures.nominee = gg_pictures.nominee.str.replace('ONCE UPON A TIME...IN HOLLYWOOD','ONCE UPON A TIME… IN HOLLYWOOD')

In [60]:
pictures_combined5 = pd.merge(pictures_combined5, gg_pictures,
                             how='left',
                             left_on=['year_ceremony','film'],
                             right_on=['year_award','nominee'])

In [61]:
pictures_combined5 = pictures_combined5.drop(columns = ['year_award_x','golden_globes_cat_x','year_award_y',
                                                       'golden_globes_cat_y','nominee'])

In [62]:
pictures_combined5[['Globes_Best_Dir_Winner','Globes_Best_Pic_Winner']]= pictures_combined5[['Globes_Best_Dir_Winner','Globes_Best_Pic_Winner']].fillna('x')

In [64]:
pictures_combined5.to_csv('data/pictures_combined5.csv', index=False)

# 3 Bafta and Cannes

In [65]:
#importing data

pictures_combined5=pd.read_csv('data/pictures_combined5.csv')

#importing Cannes and Bafta data, obtained through webscraping. Code adjusted from #

bafta = pd.read_csv('data/BAFTA and CANNES datasets/bafta_cleaned.csv')
cannes = pd.read_csv('data/BAFTA and CANNES datasets/cannes_cleaned.csv')

In [66]:
pictures_combined5=pictures_combined5.drop(columns=['year'])

In [67]:
#stripping blank spaces
bafta.film =bafta.film.str.strip()
cannes.film =cannes.film.str.strip()

In [68]:
pictures_combined6 = pd.merge(pictures_combined5, bafta,
                             how='left',
                             left_on=['film','year_film'],
                             right_on =['film','year'] )

In [69]:
len(pictures_combined6)

563

In [70]:
pictures_combined6= pd.merge(pictures_combined6, cannes,
                             how='left',
                             left_on=['film','year_film'],
                             right_on =['film','year'] )

In [71]:
pictures_combined6 = pictures_combined6.drop(columns=['year_x','year_y'])

In [72]:
pictures_combined6[['bafta','cannes']]=pictures_combined6[['bafta','cannes']].fillna('x')

# 4 Directors Guild Awards

In [73]:
#importing an excel containing DGA information (obtained through webscraping)
aw = pd.read_excel('data/guild_critic.xlsx')

In [74]:
DGA =  aw.loc[aw.academy == 'DGA Award']
DGA = DGA.rename(columns = {'outcome':'DGA_Winner'})

In [75]:
DGA.title = DGA.title.str.upper()

In [76]:
DGA.name = DGA.name.str.strip()
DGA.title = DGA.title.str.strip()

DGA

,imdb_name_id,name,DGA_Winner,academy,category,title,year,Association
358,nm0587277,Lewis Milestone,Nominee,DGA Award,Outstanding Directorial Achievement in Motion ...,MUTINY ON THE BOUNTY,1963,directors guild
359,nm0503777,Mervyn LeRoy,Nominee,DGA Award,Outstanding Directorial Achievement in Motion ...,A MAJORITY OF ONE,1962,directors guild
360,nm0503777,Mervyn LeRoy,Nominee,DGA Award,Outstanding Directorial Achievement in Motion ...,MISTER ROBERTS,1956,directors guild
361,nm0503777,Mervyn LeRoy,Nominee,DGA Award,Outstanding Directorial Achievement in Motion ...,QUO VADIS,1952,directors guild
362,nm0002030,George Cukor,Winner,DGA Award,Outstanding Directorial Achievement in Motion ...,MY FAIR LADY,1965,directors guild
...,...,...,...,...,...,...,...,...
809,nm0268380,Peter Farrelly,Nominee,DGA Award,Outstanding Directorial Achievement in Feature...,GREEN BOOK,2019,directors guild
810,nm0002833,David Webb,Winner,DGA Award,Outstanding Directorial Achievement in Motion ...,ARGO,2013,directors guild
811,nm0503569,Michael Lerman,Winner,DGA Award,Outstanding Directorial Achievement in Feature...,NaN,2020,directors guild
812,nm0568223,Callum McDougall,Winner,DGA Award,Outstanding Directorial Achievement in Feature...,NaN,2020,directors guild
813,nm0094435,Bong Joon Ho,Nominee,DGA Award,Outstanding Directorial Achievement in Feature...,GISAENGCHUNG,2020,directors guild

In [77]:
#DGA.name = DGA.name.replace('Alfonso CuarÃ³n','Alfonso Cuarón')

In [78]:
DGA_sels = DGA[['imdb_name_id','DGA_Winner','year']]

In [79]:
pictures_combined6 = pd.merge(pictures_combined6,DGA_sels,
                             how='left',
                             left_on=['year_ceremony', 'director_id'],
                             right_on=['year','imdb_name_id'])

In [80]:
pictures_combined6 = pictures_combined6.drop_duplicates()
pictures_combined6 = pictures_combined6.drop(columns =['imdb_name_id','year'])
pictures_combined6.DGA_Winner=pictures_combined6.DGA_Winner.fillna('x')

# 5 Genre

In [83]:
# Creating columns from genres.
pictures_combined6['Drama'] = np.where(pictures_combined6['genre'].str.contains('Drama'), 1, 0)
pictures_combined6['Adventure'] = np.where(pictures_combined6['genre'].str.contains('Adventure'), 1, 0)
pictures_combined6['War'] = np.where(pictures_combined6['genre'].str.contains('War'), 1, 0)
pictures_combined6['Musical'] = np.where(pictures_combined6['genre'].str.contains('Musical'), 1, 0)
pictures_combined6['Sci-Fi'] = np.where(pictures_combined6['genre'].str.contains('Sci-Fi'), 1, 0)
pictures_combined6['Thriller'] = np.where(pictures_combined6['genre'].str.contains('Thriller'), 1, 0)
pictures_combined6['Romance'] = np.where(pictures_combined6['genre'].str.contains('Romance'), 1, 0)
pictures_combined6['Animation'] = np.where(pictures_combined6['genre'].str.contains('Animation'), 1, 0)
pictures_combined6['Film-Noir'] = np.where(pictures_combined6['genre'].str.contains('Film-Noir'), 1, 0)
pictures_combined6['Horror'] = np.where(pictures_combined6['genre'].str.contains('Horror'), 1, 0)
pictures_combined6['Mystery'] = np.where(pictures_combined6['genre'].str.contains('Mystery'), 1, 0)
pictures_combined6['Music'] = np.where(pictures_combined6['genre'].str.contains('Music'), 1, 0)
pictures_combined6['Action'] = np.where(pictures_combined6['genre'].str.contains('Action'), 1, 0)
pictures_combined6['Crime'] = np.where(pictures_combined6['genre'].str.contains('Crime'), 1, 0)
pictures_combined6['Family'] = np.where(pictures_combined6['genre'].str.contains('Family'), 1, 0)
pictures_combined6['Fantasy'] = np.where(pictures_combined6['genre'].str.contains('Fantasy'), 1, 0)
pictures_combined6['Sport'] = np.where(pictures_combined6['genre'].str.contains('Sport'), 1, 0)
pictures_combined6['Biography'] = np.where(pictures_combined6['genre'].str.contains('Biography'), 1, 0)
pictures_combined6['Comedy'] = np.where(pictures_combined6['genre'].str.contains('Comedy'), 1, 0)
pictures_combined6['History'] = np.where(pictures_combined6['genre'].str.contains('History'), 1, 0)
pictures_combined6['Western'] = np.where(pictures_combined6['genre'].str.contains('Western'), 1, 0)

In [84]:
pictures_combined6.isna().sum()

year_film                           0
year_ceremony                       0
ceremony                            0
category                            0
film                                0
Best_Pic_Winner                     0
imdb_title_id                       0
genre                               0
duration                            0
country                             6
language                            6
writer                              6
production_company                  6
actors                              6
description                         6
first_director                      0
Director                            0
director_id                         0
Dir_Cum_Films                       0
Producer                            0
count_of_film_nominations           0
nominated_for_best_director         0
best_directing_win                  0
first_dir                           0
best_directing_nomination_sum       0
best_directing_win_sum              0
prior_best_directing_nominations    0
prior_best_directing_wins           0
running_best_picture_nomination     0
Globes_Best_Dir_Winner              0
Globes_Best_Pic_Winner              0
bafta                               0
cannes                              0
DGA_Winner                          0
Drama                               0
Adventure                           0
War                                 0
Musical                             0
Sci-Fi                              0
Thriller                            0
Romance                             0
Animation                           0
Film-Noir                           0
Horror                              0
Mystery                             0
Music                               0
Action                              0
Crime                               0
Family                              0
Fantasy                             0
Sport                               0
Biography                           0
Comedy                              0
History                             0
Western                             0
dtype: int64

In [ ]:
pictures_combined6.to_csv('data/pictures_combined6.csv', index=False)